@use "base/variables" as v;
@use "base/mixins" as m;

.sociales {
  margin: 3rem 0;
  display: flex;

  gap: 1rem;
  @include m.tablet {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__enlace {
    &:before {
      content: "";
      padding: 2rem;
      display: inline-block;
    }

    &[href*="facebook.com"]::before {
      background-image: url(../img/icono_facebook.svg);
    }
    &[href*="twitter.com"]::before {
      background-image: url(../img/icono_twitter.svg);
    }
    &[href*="pinterest.com"]::before {
      background-image: url(../img/icono_pinterest.svg);
    }
    &[href*="instagram.com"]::before {
      background-image: url(../img/icono_instagram.svg);
    }
    &[href*="youtube.com"]::before {
      background-image: url(../img/icono_youtube.svg);
    }
    &[href*="tiktok.com"]::before {
      background-image: url(../img/icono_tiktok.svg);
    }
  }

  &__accesible {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    display: block;
  }
}
